

.card
    img.card-img-top(src='{{ product.image }}')
    .card-block
        h4.card-title {{ product.name }}
        p.card-text Description
        p.card-text {{ product.price }},-
        button.btn.btn-primary([@addToCart]="clicked", (click)='addToCart(product)') {{ btnText }}

