
.form-group([formGroup]='form', [class.has-danger]='errorMessage()')
    label.form-control-label(for='{{details.key}}') {{details.label}}
    input.form-control(
        [class.form-control-danger]='errorMessage()',
        type='text',
        id='{{details.key}}',
        formControlName='{{details.key}}',
        placeholder='{{details.placeholder}}'
    )
    span.form-control-feedback(*ngIf='errorMessage()') {{ errorMessage() }}
