
header.navbar.fixed-top.navbar-toggleable-md.bd-navbar.navbar-inverse.bg-inverse
  nav.container
    .d-flex.justify-content-between
      a.navbar-brand(routerLink='/', (click)='isCollapsed = true') Webstore
      button.navbar-toggler((click)='isCollapsed = !isCollapsed', type='button', aria-controls='navbar', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse([ngbCollapse]="isCollapsed")
      ul.nav.navbar-nav.mr-auto
        li.nav-item(routerLinkActive='active')
          a.nav-link(routerLink='/products', (click)='isCollapsed = true')
      ul.nav.navbar-nav.float-xs-right
        li.nav-item.active
          a.nav-link([@sizeChanged]="changed")
            i.fa.fa-shopping-cart(aria-hidden='true')
            span  {{ cartSize }}
        li.nav-item(*ngIf='cartSize > 0', routerLinkActive='active')
          a.nav-link(routerLink='/checkout', (click)='isCollapsed = true') Til kasse
