
spinner(*ngIf='loading')

.row
    .col-md-9
        h2 Handlevogn
        table.table.table-striped.table-bordered
            tbody
                tr
                    th
                    th(width='15%') Antall
                    th(width='20%') Pris
                    th(width='20%') Totalt
                    th(width='5%') Slett
                tr(*ngFor='let item of orderLines')
                    th {{ item.name }}
                    th
                        i.fa.fa-minus-circle((click)='subtractItem(item)')
                        =' '
                        span {{ item.quantity }}
                        =' '
                        i.fa.fa-plus-circle((click)='addItem(item)')
                    th {{ item.unitPrice | number:'1.2-2'}}
                    th {{ productTotal(item) | number:'1.2-2' }}
                    th
                        i.fa.fa-times-circle((click)='deleteItem(item)')
                tr
                    th(colspan='5')
                tr
                    th(colspan='3')
                        span Totalt
                    th {{ totalPrice | number:'1.2-2' }}
                    th

    .col-md-9
        h2 Leverings adresse
        .card
            form.row.card-block([formGroup]='deliveryForm')
                form-control(
                    *ngFor='let details of deliveryFormDetails',
                    class='{{ details.class }}',
                    [form]='deliveryForm',
                    [details]='details'
                )


    .col-md-9
        h2 Betaling
        .card
            form.row.card-block([formGroup]='cardForm')
                .col-lg-3.push-lg-9
                form-control(
                    *ngFor='let details of cardFormDetails',
                    class='{{ details.class }}',
                    [form]='cardForm',
                    [details]='details'
                )

.row
    .col-md-9
        button.btn.btn-success.btn-lg.btn-block((click)='createToken()') Gjennomfør kjøp